<!-- <mat-tab-group dynamicHeight>
  <mat-tab label="Income">
    <div class="example-large-box mat-elevation-z4">
      <table class="table table-striped">
       <tr>
        <th>Name</th>
        <th>Account</th>
       </tr>
       <tr ng-repeat="country in countries | orderBy: 'code' ">
        <td>{{ k.name.first }} {{ k.name.last }}</td>
        <td>{{ k.phone }}</td>
       </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Outcome" class="tabs">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Loans" class="tabs">
    <div class="example-large-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Investments" class="tabs">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group> -->